/week5-084.OverloadedCounter/build/
/week5-085.Reformatory/build/
/week5-086.LyyraCardAndRegister/build/
/week5-087.ApartmentComparison/build/
/week5-088.Students/build/
/week5-089.ClockObject/build/
/week5-090.TeamAndPlayers/build/
/week5-091.ExtendingMyDate/build/
/week5-092.DifferenceDate/build/
/week5-093.PersonExtended/build/
/week6-094.PhoneBook/nbproject/private/
/week6-098.CopyAndReverse/nbproject/private/
/week6-096.SumOfArray/nbproject/private/
/week6-099.ArrayToStars/nbproject/private/
/week6-095.Money/nbproject/private/
/week6-097.ElegantPrinting/nbproject/private/
/week6-100.NightSky/nbproject/private/
/week6-101.Library/nbproject/private/
/week6-102.GradeDistribution/nbproject/private/
/week6-105.GuessingGame/nbproject/private/
/week6-104.Sorting/nbproject/private/
/week6-103.Birdwatcher/nbproject/private/
/week6-106.BinarySearch/nbproject/private/
/week6-094.PhoneBook/build/
/week6-095.Money/build/
/week6-096.SumOfArray/build/
/week6-098.CopyAndReverse/build/
/week6-101.Library/build/
/week6-102.GradeDistribution/build/
/week6-103.Birdwatcher/build/
/week6-104.Sorting/build/
/week6-105.GuessingGame/build/